<div id="strider-violations" class="tab-pane well">
  <fieldset>
    <legend>Strider Violations</legend>
    <p>
      Specify the output path for each test,
      if the file contains errors they will
      show in context for each build.
    </p>
    <table class="table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Path</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="(key, value) in config">
          <td>[[ key ]]</td>
          <td>[[ value ]]</td>
          <td class="remove">
            <span class="clickable" ng-click="del(key)">
              <i class="icon-remove" alt="remove"></i>
            </span>
          </td>
        </tr>
        <tr>
          <td><input ng-model="newkey" placeholder="New Key" type="text"></td>
          <td><input ng-model="newvalue" placeholder="New Value" type="text"></td>
          <td><button ng-click="add()" class="btn btn-success">Add</button></td>
        </tr>
      </tbody>
    </table>
  </fieldset>
</div>